# Secrets & config
.env
.env.*

# Base de données locale & Données Patients
kineassist.db
users.json
*.db
*.sqlite3
*.json

# Python & Stockage temporaire
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.chroma/

# Fichiers générés (Rapports PDF de test)
*.pdf

# VS Code & IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Anaconda & Environnements virtuels
mediapipe_env/
env/
venv/
.env/
# Données de référence générées
data/references/*.npy

# Sons assets (si privés)
assets/*.wav

# Dossier devcontainer
.devcontainer/